@import "../sass/colors";

.footer {
  background-color: $grey200;
  padding: 20px 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-style: italic;
  .icon {
    vertical-align: sub;
  }
}

.info-title {
  font-weight: bold;
  text-transform: uppercase;
  color: $primary-color;
  font-style: normal;
}