@import "../sass/colors";

.landing {
  $height: 260px;
  // background-color: $white;
  background-color: $grey100;
  background-size: cover;
  position: relative;
  padding: 230px 0rem 0rem 3rem;
  height: $height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
  text-shadow: -3px 0 $grey100, 0 3px $grey100, 3px 0 $grey100, 0 -3px $grey100;
  .img {
    text-align: right;
    height: $height - 10px;
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
  .landing-title {
    margin-top: -10px;
    z-index: 10;
    position: absolute;
    top: 30px;
    //height: 100%;
  }
  .landing-logo {
    width: calc(min(90%, 1100px));
    // height: calc(min(5%, 60px));
    filter: drop-shadow(3px 3px 2px white);
  }
  .landing-background {
    font-weight: 50%;
  }
  .landing-description {
    font-size: 2rem;
    padding: 0px;
    margin-top: -15px;
    color: $grey700;
  }
  .landing-location{
    font-size: 1.5rem;
    padding: 0px;
    margin-top: -25px;
    color: $grey700;
    font-style: italic;
  }
}


